<div class="container">
    <mat-card>
        <span class="title">
            TODO
        </span>
        <hr>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
    </mat-card>
    <mat-card>
        <span class="title">
            IN PROGRESS
        </span>
        <hr>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
    </mat-card>
    <mat-card>
        <span class="title">
            DONE
        </span>
        <hr>
        <app-todo-card
            [card]="{title: 'asd', description: 'this is a test description. What should i do next. What is my next task.'}">
        </app-todo-card>
    </mat-card>
</div>