.todo-card {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: beige;
    .card-description {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .card-header {
        display: flex;
        .card-title {
            flex-grow: 1;
            font-weight: bold;
            font-size: 18px;
        }
    }
    
}